<div class="container-fluid">
    <div class="row">

    </div>
    <div class="row">
        <div class="card">
            <div class="card-header">
               <h5 style="color: orangered;"> Complaint Redressal Mechanism in ABC Telecom Services Sector </h5>
            </div>
            <div class="card-body">
                <ul>
                    <li>
                        The primary responsibility of addressing the complaint related to service, billing, quality of service, etc. lies with Telecom Service Providers (TSPs), which emanates from licensing terms and conditions. As per licensing conditions

                        “Any dispute, with regard to the provision of SERVICE shall be a matter only between the aggrieved party and the LICENSEE, who shall duly notify this to all before providing the SERVICE and in no case the LICENSOR shall bear any liability or responsibility in the matter.”
            
                    </li>
                    <li>
                        In order to streamline the process of grievance redressal mechanism by the service providers, TRAI has issued “Telecom Complaint Redressal Regulations 2012”. Which is available on TRAI website. According to this, all TSPs should set up a Two Tier grievance redressal mechanism. The highlights of this mechanism are -
                        <ul>
                            <li>Establishment of a Complaint Centre: Every service provider shall, establish a Complaint Centre for redressal of complaints and for addressing service requests of its consumers. Complaint Centre is accessible to its consumers through a toll-free “Consumer Care Number”. Every service provider shall also, establish a ‘Web Based Complaint Monitoring System’ to enable the consumers to monitor the status of their complaints. Every Complaint Centre shall, immediately on receipt of a complaint from a consumer, register such complaint and allot a unique number to be called the docket number.</li>
                            <li>Establishment of an Appellate Authority: Every service provider shall, establish an Appellate Authority in each of its licensed service areas to dispose of the appeals filed. Where a consumer is not satisfied with the redressal of his complaint by the Complaint Centre, or his complaint remains unaddressed or no intimation of redressal of the complaint is received within the period specified, such consumer may prefer an appeal to the Appellate Authority of the concerned service provider for redressal of his complaint.</li>
                            <li> Accordingly all complainants have to approach to their service providers for redressal of their complaint through “Two Tier Institutionalized complaint Redressal Mechanism” of the concerned Service Provider established by it under Telecom Consumer Complaint Redressal Regulations, 2012 (1 of 2012) of TRAI issued on 05th January 2012 and amendments thereto.</li>
                        </ul>
                    </li>
                </ul>
                <ul>
                   <h5 style="color: orangered;"> Public Complaint Cell in DoT </h5>
                    <li> However, in case a grievance is not redressed even after exhausting the procedure as prescribed above, an individual complainant without prejudice to his right to approach an appropriate Court of Law, may approach Public Grievance Cell of Department of Telecommunications (DoT), along with all documentary evidence(s) for non-redressal of his grievance at concerned Service Provider level.</li>
                    <li>Complainants are advised to use an online platform, Centralised Public Grievance Redress and Monitoring System (CPGRAMS) web portal http://www.pgportal.gov.in for registering their grievance. Any grievance sent by e-mail may not be attended to/entertained</li>
                    <li>The status of the grievance filed in CPGRAMS can be tracked with the unique registration ID provided at the time of registration of the complainant. CPGRAMS also provides appeal facility to the citizens if they are not satisfied with the resolution by the Grievance Officer.</li>
                    <li>Issues which are not considered as complaint :<br>
                        <ul>
                            <li>RTI Matters</li>
                            <li>Court related / Sub-judice matters</li>
                            <li>Religious matters</li>
                        </ul>
                    </li>
                    <li><span>
                        <h5>Suggestions:</h5><br>
                        complaint on Government employees concerning their service matters including disciplinary proceedings etc. unless the aggrieved employee has already exhausted the prescribed channels keeping in view the DoPT OM No. 11013/08/2013-Estt.(A-III) dated 31.08.2015.
                        </span>
                </li>
                </ul>
           </div>
        </div>
    </div>
</div>